.item {
    margin: 0 0 1.5rem 0;
    padding: 1rem .75rem;
    border: 1px solid;
    border-radius: .5rem;
    animation: moveIn 0.5s forwards;
}

.title {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
}

.tag {
    margin: .5rem 0;
}

.tag span {
    margin: .5rem .5rem;
}

.description {
    margin: .5rem 0;
}

.time {
    margin: .5rem 1.5rem 0 0;
}

.time::before, .category::before{
    margin: 0 .5rem 0 0;
}

.hide {
    display: none;
}

.title, .tag span, .description, .category {
    cursor: pointer;
}


.description {
    color: #777;
}

@keyframes moveIn {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}
