.box {
    margin: 0 auto;
    padding: 5rem 1rem;
    max-width: 1280px;
    display: flex;
    min-height: calc(100vh - 4rem);
}

.nav {
    flex: 0 0 250px;
    margin: -.5rem .5rem 0;
    border-radius: .8rem;
}

.content {
    margin: 0  .5rem;
    min-width: 900px;
}
