.aside {
    margin: .5rem 0;
    padding: 1rem .5rem;
    background-color: #ffffff
}

.title {
    margin: 0 0 .5rem .6rem;
    font-size: 1.2rem;
}

.title span {
    margin: 0 .5rem;
}

.box {
    display: flex;
    flex-flow: wrap row;
}

.item {
    font-size: 1rem;
    font-weight: 700;
    margin: .3rem;
    padding: .2rem .4rem;
    border: .1rem solid;
    border-radius: .25rem;
    cursor: pointer;
}

.item:hover {
    /*transform: scale(1.1);*/
    animation: jelly 0.5s;
}

.selected {
    color: #0070f3;
}

@keyframes jelly {
    0%, 100% {
        transform: scale(1, 1);
    }
    /*50% {*/
    /*    transform: scale(0.9, 1.1);*/
    /*}*/
    50% {
        transform: scale(1.1, 1.1);
    }
}
