.aside {
    margin: .5rem 0;
    padding: 1rem 0;
    background-color: #ffffff
}

.title {
    margin: 0 0 .5rem .6rem;
    font-size: 1.2rem;
}

.title span{
    margin: 0 .5rem;
}

.item {
    margin: .8rem 1rem;
    padding: .4rem .8rem;
    height: 3rem;
    box-shadow: 0 1px 2px #888888;
    border-radius: .25rem;
    cursor: pointer;
    transition: all .3s;
}

.item:hover {
    transform: scale(1.1);
}

.itemTitle {
    line-height: 2.2rem;
}

.amount {
    float: right;
    width: 1.6rem;
    height: 1.6rem;
    margin: .3rem 0;
    text-align: center;
    border-radius: .25rem;
    background-color: #23A0F0;
}

.selected {
    color: #0070f3;
}
