.box {
    margin: 5rem auto;
    padding: 0 1rem;
    max-width: 1280px;
    display: flex;
    animation: fadeIn .5s forwards;
}

.content {
    margin: 0  .5rem;
}

.aside {
    flex: 0 0 250px;
    margin: 0 .5rem;
    border-radius: .8rem;
}

@media screen and (max-width: 481px){
    .aside {
        display: none;
    }
    .content {
        width: 95%;
        margin: 0 auto;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
